* {
    margin: 0;
    padding: 0;
}

.menu {
    background-image: url(images/uni.png);
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    width: 100%;

}

nav {
    padding: 3% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

nav img {
    display: inline-block;
    width: 320px;
    padding: 12px 12px;
    margin-left: -45px;
    margin-top: -100px;
    margin-bottom: -25px;
    
    
}

.navigation-buttons {
    flex: 1;
    text-align: right;  
    padding: 10px 5px;
    margin-bottom: 25px;
    
}

.navigation-buttons ul li {
    display: inline-block;
    list-style: none;
    position: relative;
    padding: 0px 20px;

}


.navigation-buttons ul li a {
    color: darkblue;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.welcome {
    color: white;
    position: absolute;
    top: 42%;
    left:5%;
    width: 90%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.welcome h1 {
    font-size: 95px;
}

.welcome p {
    font-size: 16px;
    margin: -2px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome img {
    width: 10%;
    margin: 100px 0px;
    padding: -5px;
}


.careers {
    text-align: center;
    padding-top: 100px;
    padding: 120px, 0px;
    min-height: 110vh;
    width: 100%;
    background-image: url(images/citdep.png);
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.careers h2 {
    font-size: 42px;
    margin-top: -22px;
    color:darkblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.careers img {
    width: 6%;
    margin: 10px 0px;
    padding: -2px;
}

.courses {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.courses img {
    width: 370px;
    height: 200px;
    padding: 20px -20px;
    margin-right: 50%;
    margin: -20px -80px;
}

.cs {
    color: darkblue;
    height: 390px;
    width: 335px;
    padding: 75px 40px;
    background-color: rgba(134, 145, 241, 0.712);
    border-radius: 15px;
    margin: 50px;
    position: relative;
    text-align: center;
}

.cs h4 {
    margin-bottom: -5px;
    padding: 25px 0px;
    font-size: 17px;
}

.cs p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 25px;
}

.it {
    color: darkblue;
    height: 390px;
    width: 335px;
    padding: 75px 40px;
    background-color: rgba(134, 145, 241, 0.712);
    border-radius: 15px;
    margin: 20px;
    position: relative;
    text-align: center;
}

.it h4 {
    margin-bottom: -5px;
    padding: 25px 0px;
    font-size: 17px;
}

.it p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 25px;
}
 
.button {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 30px;
    margin: 0px;
    border: 2px solid transparent;
    border-radius: 30px;
    background-color: blue;
    color: white;
    
}

.button:hover {
    border: 2px solid blue;
    background-color: transparent;
    color:blue;
    cursor: pointer;
}

.a1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:260px;
    background:rgba(1, 39, 255, 0.342)
}

.a1 h4 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.a1 .apply {
    text-decoration: none;
    font-weight: bold;
    padding: 8px 20px;
    margin: 8px;
    color: blue;
    border: 2px solid gold;
    border-radius: 30px;
    background-color: gold;
    font-family: Arial, Helvetica, sans-serif;  
}

footer {
    color: darkblue;
    background-color: rgba(1, 39, 255, 0.473);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    position: relative;
    width: 100%;
    height: 270px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer h6 {
    font-size: 20px;
    margin-top: 100px;

}

footer p {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
}
.links {
    display: flex;   
}

.links a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: gold;
    border-radius: 50%;
    margin: 30px 10px 25px;
}